.form {
    display: inline;
    text-align: center;
    padding: 20px 20px;
}
.header {
    display: inline;
    text-align: center;
    padding: 10px 10px;
}

.form-row {
    padding: 50px 50px;
    border: solid;
    border-width: 2px;
    font-weight: 400;
    background-color: lightsteelblue;
}

.buttons {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 20px 50px;
}

.col {
    margin: 20px 50px;
}

.title {
    font-weight: 100;
}

.title-bottom {
    font-weight: 100;
    font-size: x-large;
}

.description {
    text-align: center;
}

.editDistance {
    text-align: center;
    font-size: large;
    padding: 15px;
}

.alignment {
    font-size: large;
    padding: 10px;
    margin: 15px 15px;
    border: 1px solid #000000;
}

.alignment p {
    font-family: monospace;
    letter-spacing: 10px;
    text-align: justify;
    margin: 2px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    padding: 50px;
    background: lightsteelblue;
    border: 2px solid #000000;
  }
  
  .grid-item {
    border: 1px solid #000000;
    text-align: center;
    background: white;
  }